*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

/* LOADING SCREEN */

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  flex-direction: column;
}

.logo-icon {
  font-size: 60px;
  color: #6a01d4;
  animation: pulse 1s infinite;
  margin-bottom: 20px;
}

@keyframes pulse {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.2); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}


.loader {
  display: none;
}


html {
  scroll-behavior: smooth;
}

/* HOME */

.Home{
    height: 100vh;
    background: linear-gradient(to right, #01062e, #030d5b);
}

/* LOGO */

.logo{
    font-size: 1.5em;
    color: #ac5aff;
    font-weight: 600;
}

/* HEADER STYLE */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #01062e, #030d5b);
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

header li{
    display: inline;
}

header li a{
    margin: 20px;
    font-size: 0.9em;
    color: white;
    transition: 400ms;
}

header li a:hover{
    color: #ac5aff;
}

.Home{
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: space-around;
}

.texte{
    color: white;
    font-size: 1.2em;
    width: 45vw;
}

.texte p{
    font-size: 0.75em;
    word-spacing: 5px;
    line-height: 20px;
}

/* VISIT BUTTON */

#visit-project-button{
    background-color: #9123ff;
    padding: 12px 50px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
    transition: 400ms;
    
}

#visit-project-button:active{
    scale: 0.9;
}

#visit-project-button:hover{
    background-color: #5b05b1;
}

.color{
    background-image: linear-gradient(45deg, #ff0a78, #5773ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
}

.img{
    width: 45vw;
}

/* MY SKILLS */

.Skills{
    background: linear-gradient(to right, #01062e, #030d5b);
}

.display-flex{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Skills h1{
    font-size: 2em;
    padding-top: 10vh;
    color: white;
    margin-bottom: 10vh;
}

/* SCROLLING */

.container-of-icons-skils{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(200px * 10);
    animation: scroll 25s linear infinite;
    height:200px;
    text-align: center;
}

.container-of-icons-skils div i{
    font-size: 4em;
    color: #9123ff;
    transition: scroll 400ms;
    width: 100px;
}

.designs-icons-card{
    padding: 30px;
    background-color: #01062e;
    border-radius: 8px;
    margin-left: 30px;
    cursor: pointer;
    border: #01062e 1px solid;
    border: 1px solid #5b05b1;
}

.designs-icons-card:hover {
  border: #9123ff 1px solid;
  box-shadow: #b87ff1 1px 2px 10px 3px;

}

.designs-icons-card p{
    font-size: 0.9em;
    padding-top: 15px;
    color: #9123ff;
}

.slider:hover .container-of-icons-skils {
  animation-play-state: paused;
}

.slider{
    overflow: hidden;
    display: flex;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* PROJECT */

.Project{
    height: 100vh;
    background: linear-gradient(to right, #01062e, #030d5b);
}

.Project h1{
    text-align: center;
    margin-bottom: 5vh;
    font-size: 2em;
    color: #ac5aff;
}

.card{
    overflow: auto;
    border-radius: 5px;
    border: 1px #b87ff1 solid;
    margin: 5px 0px;
    background-color: #01062e;
    color: white;
}

.content{
    padding: 10px;    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.content i{
    cursor: pointer;
}

.content h3{
    font-size: 1em;
    margin-bottom: 5px;
}

.content p{
    font-size: 0.7em;
}

.card1{
    background: url(music.png);
    background-position: center ;
}

.card2{
    background: url(car.png);
}

.card3{
    background: url(money.png);
}

.card4{
    background: url(game.png);
}

.card5{
    background: url(login.png);
}

.card6{
    background: url(curd.png);
}

.card-front{
    background-size: cover;
    width: 390px;
    height: 180px;
}

.Project a{
    background-color: rgb(75, 75, 250);
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
    position: absolute;
    bottom: 0;
}

.cards{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 50vh;
    flex-wrap: wrap ;
}

/* CANTACT */

.Cantact{
    background: linear-gradient(to right, #01062e, #030d5b);
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

/* ICONS STYLE */

.icons {
    display: flex;
    align-items: center;
    color: #b87ff1;
    transition: 400ms;
}

.icons:hover{
    color: #5b05b1;
    scale: 1.05;
}

.Cantact ul li i{
    font-size: 1.5em;
    transition: 300ms;
    margin: 15px 10px;
}

.Cantact ul li a{
    font-size: 0.9em;
}

.Cantact ul {
    margin-top: 10vh;
}

.copyright{
    color: white;
}

.copy{
    position: absolute;
    bottom: 5px;
    font-size: 0.85em;
    color: #cecbcb;
}

/* INPUT DESGINE */

.input-same-desgine{
    background-color: #02128b;
    border: none;
    width: 400px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    border-radius: 5px;
    outline: none;
    color: white;
    margin-right: 20px;
}

.input-same-desgine::placeholder{
    color: white;
}

textarea{
    height: 80px;
}

.started{
    color: white;
    display: block;
    justify-content: center;
    text-align: center;
}

.started h1{
    margin-bottom: 40px;
    font-size: 3em;
}

.started span{
    color: #9123ff;
    }

.started i{
    margin-right: 5px;
    color: #ac5aff;
    font-size: 1.5em;
}

.submit{
    padding: 12px 50px;
    background-color: #9123ff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 400ms;
    color: white;
}

.submit:active{
    scale: 0.9;
}

.submit:hover{
    background-color: #5b05b1;
}

/* ANIMATION */

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
}
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .card, .started {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }