:root{
    --primary-color: #6a01d4;
    --secondary-color: #ac5aff;
    --background-color: #01062e;
    --text-color: white;
    --text-color-light: #000000;
    --hover-color: #5b05b1;
    --background-gradient-dark-mode: linear-gradient(to right, #01062e, #030d5b);
    --background-gradient-light-mode: linear-gradient(to right, #e0eafc, #cfdef3);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

body .header{
    background: var(--background-gradient-dark-mode);
    transition: 0.3s ease;
    color: var(--text-color);
}

body{
    background: var(--background-gradient-dark-mode);
    transition: 0.3s ease;
    color: var(--text-color);
}

body a{
    color: var(--text-color);
}

body.light-mode .fa-moon{
    color: var(--text-color-light);
    font-size: 1.2em;
}

body.light-mode, .header{
    background: var(--background-gradient-light-mode);
    color: var(--text-color-light);
}

body.light-mode .header{
    background: var(--background-gradient-light-mode);
    color: var(--text-color-light);
}

body.light-mode a{
    color: var(--text-color-light);
}

body.light-mode .input-same-desgine{
    background-color: #ffffff;
    color: var(--text-color-light);
}

body.light-mode .input-same-desgine::placeholder{
        color: var(--text-color-light);
    }

body.light-mode .logo{
    color: var(--primary-color);
}

.fa-moon{
    display: none;
}

/* HOME */

.Home{
    height: 100vh;
}

/* LOGO */

.logo{
    font-size: 1.5em;
    color: var(--primary-color);
    font-weight: 600;
}

/* HEADER STYLE */

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.icon-menu-list{
    display: none;
}

.header li{
    display: inline;
}

.header li a{
    margin: 20px;
    font-size: 1em;
    transition: 400ms;
}

.header li a:hover{
    color: var(--hover-color);
}

#toggle{
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: space-around;
}

.texte{
    font-size: 1.2em;
    width: 45vw;
}

.texte p{
    font-size: 0.75em;
    word-spacing: 5px;
    line-height: 20px;
}

/* VISIT BUTTON */

#visit-project-button{
    background-color: var(--secondary-color);
    padding: 10px 50px;
    color: var(--text-color);
    font-size: 0.7em;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}

#visit-project-button:hover{
    background-color: var(--hover-color);
}

.color{
    background-image: linear-gradient(45deg, #ff0a78, #5773ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
}

.img{
    width: 45vw;
}

/* MY SKILLS */

#my-skills{
    text-align: center;
    font-size: 2em;
}

/* PROJECT */

.Project h1{
    text-align: center;
    font-size: 2em;
}

.Project{
    height: 50vh;
}

/* CANTACT */

.Cantact{
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* ICONS STYLE */

.icons {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    transition: 400ms;
    font-size: 2em;
    margin: 0px 20px;
}

.center-form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.icons:hover{
    color: var(--hover-color); ;
    scale: 1.06;
}

.Cantact ul {
    margin-top: 3vh;
}

.all-social-media{
    width: 50vw;
    text-align: center;
}

.icons-of-my-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Copyright{
    position: absolute;
    bottom: 5px;
    font-size: 0.85em;
    left: 5px;
}

/* INPUT DESGINE */

.input-same-desgine{
    background-color: #02128b;
    border: none;
    width: 400px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    border-radius: 5px;
    outline: none;
    color: var(--text-color);
    margin-right: 20px;
}

.input-same-desgine::placeholder{
    color: var(--text-color);
}

.started{
    display: block;
    justify-content: center;
    text-align: center;
}

.started h1{
    margin-bottom: 40px;
    font-size: 3em;
}

.started span{
    color: var(--secondary-color);
    }

.started i{
    margin-right: 5px;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.submit{
    padding: 12px 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 400ms;
    color: var(--text-color);
}

.submit:active{
    scale: 0.9;
}

.submit:hover{
    background-color: var(--hover-color);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

    .header{
        height: 7vh;
    }

    .container{
        flex-direction: column;
        align-items: center;
    }

    #dispeared{
        display: none;
    }

    .icon-menu-list{
        display: inline-block;
        margin: 0 10px;
        font-size: 1.1em;
        align-items: center;
        justify-content: space-around;
        justify-content: center;
        :hover{
            color: var(--hover-color);
        }
    }

    #dispeared-portfolio{
        display: none;
    }

    .texte{
        margin-top: 15vh;
        width: 95vw;
        text-align: center;
    }

    .img{
        width: 90vw;
        margin-top: 20px;
    }

    .Cantact{
        flex-direction: column;
        align-items: center;
    }

    .started{
        width: 95vw;
    }

    .started h1{
        font-size: 2em;
    }

    .all-social-media{
        width: 90vw;
    }

    .icons{
        margin-top: 20px;
    }

    .input-same-desgine{
        width: 80vw;
        margin-right: 0;
    }

    .Copyright{
        position: relative;
        bottom: 10px;
        left: 0;
        text-align: center;
    }

}